:host {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}

.login-container {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
}

h2 {
  padding-left: 12px;
}

form {
  width: 320px;
  display: inherit;
  flex-direction: inherit;
  padding: 12px;
  gap: 12px;

  .social-login {
    display: flex;
    gap: 12px;
    flex-direction: column;
    p {
      align-self: center;
    }
  }
}
