<!-- Toolbar -->
<mat-toolbar>
  <!--  boton para expandir u ocultar el menu sidenav -->
  <button
    (click)="toggleDrawer.emit()"
    mat-icon-button
    aria-label="icono con un boton para abrir el  side menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <!-- aqui deberia mostrar la ubicacion -->
  <!-- <span >Ubicacion</span> -->
  <span class="spacer"></span>

  <mat-slide-toggle
    [(ngModel)]="isChecked"
    (change)="toggleTheme()"
    id="slideToggleTheme"
  >
    {{ themeSelected | titlecase }}
  </mat-slide-toggle>
</mat-toolbar>
